<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <!-- nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark" -->
  <body>
    <nav class="navbar bg-dark border body navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/home">Developer</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="/home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/projects">Projects</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/registeredcontacts">R-CL</a>
            </li>
              <li class="nav-item">
                <a class="nav-link " href="/unregisteredcontacts">UR-CL</a>
            </li>
            
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
          <button class="btn btn-outline-primary mx-3" type='submit'><a href="/">Logout</a></button>
        </div>
    </nav>
    <div class="container bg-light p-5">
      <h1 class="display-4 text-center my-3 py-3">About the Developer</h1>
      <p class="container">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam vel maxime fugiat quas perspiciatis, incidunt nobis minus. Veritatis beatae alias deserunt voluptatum fugit. Itaque necessitatibus voluptatibus quo, esse quisquam temporibus? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt, provident? Iste ducimus velit, et dolorem aspernatur, nemo, ea placeat tempora ipsam omnis deserunt id eius recusandae autem soluta? Odit, perspiciatis!</p>
      <div class="row">
        <div class="col-md-4">
          <div class="card" style="width: 18rem;">
            <img src="https://source.unsplash.com/random/500x300/?people" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Personal</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="/explore" class="btn btn-primary">Explore in Person</a>
            </div>
        </div>
        </div>
        <div class="col-md-4">
          <div class="card" style="width: 18rem;">
            <img src="https://source.unsplash.com/random/500x300/?education" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Education</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="/explore" class="btn btn-primary">Explore Education</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card" style="width: 18rem;">
            <img src="https://source.unsplash.com/random/500x300/?corporate" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Work Experience</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="/explore" class="btn btn-primary">Explore Work-Exp</a>
            </div>
          </div>
        </div>
      </div>
  <div class="container my-3">
    <div class="ratio ratio-16x9">
      <iframe src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" title="YouTube video" allowfullscreen></iframe>
    </div>
  </div>
    </div>

    <div class="container mt-3">
        <h2 class="text-center my-3 py-3"></h2>
        
        
    <!--Jumbotron contact us block-->
    <div class="container mt-3 py-3">
      <div class="container mt-5">
        <div class="container bg-light p-5 text-center">
          <p><b>For futher support: Contact Us</b></p>
          <p><a href="https://maps.google.com">Office no. 1008, Windsor technical Park</a></p>
          <p><a href="https://maps.google.com">Winchester Abbey Manchester United,</a></p>
          <p><a href="https://maps.google.com">Chicago Illinois, USA</a></p>
          <p>Contact: +91 2102108978, +11 230270987</p>
        </div>
      </div>
    </div>
    <footer class="text-center text-light bg-dark">Learning Django with Ashish || All rights reserved</footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>