<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Base</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<!-- nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark" -->

<body>
  <nav class="navbar bg-dark border body navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Welcome To Developer's Profile</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/basecontact">Contact</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <button class="btn btn-outline-success mx-2" type="submit"><a class="nav-link"
              href="/signin">Register</a></button>
          <button class="btn btn-outline-success" type="submit"><a class="nav-link" href="/login">Login</a></button>
        </form>
      </div>
      <br><br>
    </div>
  </nav>
  <div class="container mt-3">
    <h2>Welcome to the Developers Profile</h2>
    <div class="container">
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum, iusto beatae! Deleniti, explicabo soluta
        molestiae modi harum minus atque impedit delectus ex commodi eligendi vero similique quasi aperiam repellat
        dolorem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt sit molestiae ratione corporis ipsa
        dicta necessitatibus natus velit soluta minima eaque fugit dolore eveniet, dolores distinctio asperiores illum
        quas officia!</p>
    </div>
  </div>
  <div class="container-fluid mt-0 px-0">
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://source.unsplash.com/random/1500x400/?technology,life,galaxy" class="d-block w-100"
            alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://source.unsplash.com/random/1500x400/?people,music,space" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://source.unsplash.com/random/1500x400/?trees,bridges,animals" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <div class="container my-3 py-3">
    <h3>Our Previous works</h3>
    <div class="container my-3 py-3">
      <ul>
        <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse assumenda fugiat nostrum similique adipisci
          distinctio necessitatibus ipsa officiis, quibusdam numquam fuga ducimus doloribus reprehenderit.
          Exercitationem inventore harum neque quasi eius!</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed libero rerum vitae asperiores illum repellendus
          magnam facilis exercitationem laudantium laboriosam, aut molestias ab ullam ratione temporibus rem dolorum
          obcaecati a?</li>
        <li>Link to our Previous built we site <a href="https:www.amazon.com">ashishProfile</a> has been Lorem ipsum
          dolor sit amet, consectetur adipisicing elit. Adipisci quos quo rerum fugit culpa inventore consequuntur optio
          in impedit sapiente quae sit molestias, praesentium, consectetur velit tempore eos animi facere.</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, facilis. Doloribus, eaque nulla a id
          excepturi qui explicabo soluta blanditiis corporis repudiandae nam nisi aliquam accusantium quos aspernatur,
          neque alias!</li>
      </ul>
    </div>
  </div>
  <div class="container bg-light p-5">
    <h1 class="display-4">Some Additional Information</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, nemo nihil asperiores eligendi
      molestiae exercitationem, assumenda laudantium quis est consequuntur odit optio a, tempora voluptates quisquam
      obcaecati. Iusto, beatae ducimus.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Explore</a>
  </div>
  <div class="container mt-3">
    <h2 class="text-center my-3 py-3">Me at a Glance</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <img src="https://source.unsplash.com/random/500x300/?technology,coding" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Technology</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Explore Technology</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <img src="https://source.unsplash.com/random/500x300/?galaxy" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Galaxy</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Explore Galaxy</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <img src="https://source.unsplash.com/random/500x300/?planets" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Planets</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Explore Planets</a>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="container my-3 py-3">
    <div class="container bg-light p-5">
      <h1 class="display-4">Some Additional Information</h1>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, nemo nihil asperiores eligendi
        molestiae exercitationem, assumenda laudantium quis est consequuntur odit optio a, tempora voluptates quisquam
        obcaecati. Iusto, beatae ducimus.</p>
      <hr class="my-4">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam placeat doloremque laborum, sapiente numquam
      exercitationem eaque fuga. Inventore consequatur, eveniet voluptates officia sit sunt amet asperiores harum, est
      beatae atque.
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum nemo fugiat enim quis officiis itaque quisquam
        debitis! Praesentium aliquam, necessitatibus nisi labore architecto eveniet excepturi dolorum neque, totam aut
        nam!</p>

      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Explore</a>
    </div>
    <div class="container my-3 py-3">
      <div class="container">
        <div class="container bg-light p-5 text-center">
          <p><b>For futher support: Contact Us</b></p>
          <p><a href="https://maps.google.com">Office no. 1008, Windsor technical Park</a></p>
          <p><a href="https://maps.google.com">Winchester Abbey Manchester United,</a></p>
          <p><a href="https://maps.google.com">Chicago Illinois, USA</a></p>
          <p>Contact: +91 2102108978, +11 230270987</p>
        </div>
        <div class="container my-3 py-3">
          <p>New to Project Profile ? <button class="btn btn-outline-success mx-2" type="submit"><a class="nav-link"
                href="/signin">SignIn</a></button></p>
          <p>Already a Project Profile user? <button class="btn btn-outline-success" type="submit"><a class="nav-link"
                href="/login">Login</a></button></p>
        </div>
      </div>
    </div>
    
    <footer class="text-center text-light bg-dark">Learning Django with Ashish || All rights reserved</footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"></script>
</body>

</html>